
<div class="container">
  <h1>My tasks</h1>

  <% @tasks.each do |task| %>
    <% if task.completed %>
      <input type="checkbox" name="title" checked>
      <label for="title"> <%= link_to task.title, task_path(task) %> </label><br>
    <% else %>
      <input type="checkbox" name="title">
      <label for="title"> <%= link_to task.title, task_path(task) %> </label><br>
    <% end %>
  <% end %>

  <button type="button" class="btn btn-primary"><%= link_to "Create new task", new_path %></button>
  <%# <%= link_to "+ Add a new task", %>
</div>

